.container {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #424242;
}

.box {
  height: 100px;
  width: 100px;
  position: absolute;
}

.box:nth-child(1) {
  background-color: chartreuse;
  top: 0;
  left: 0;
}

.box:nth-child(2) {
  background-color: darkblue;
  top: 0;
  right: 0;
}

.box:nth-child(3) {
  background-color: darkred;
  right: 0;
  bottom: 0;
}

.box:nth-child(4) {
  background-color: forestgreen;
  bottom: 0;
  left: 0;
}

.box:nth-child(5) {
  background-color: gold;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.box:nth-child(6) {
  background-color: indigo;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.box:nth-child(7) {
  background-color: linen;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.box:nth-child(8) {
  background-color: peru;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.box:nth-child(9) {
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
